<div class="entry">
  <h2><%= post.title %></h2>
  <div class="meta">
    <p>posted on <%= post.created_at.strftime("%m/%d/%Y") %>
    <% if authorized? %>
    <span class="post_admin">
       | <a href="/<%= post.url %>/edit" title="edit post">edit</a>
      <form action="/<%= post.url %>" method ="post"><input type="hidden" name="_method" value="delete" /><input type="submit" value="delete" onclick="return confirm('Delete this post?');" /></form>
      </span>
    <% end %>
    </p>
  </div>

  <div class="entry_body">
    <%= post.body_html %>
  </div>
</div>

